// @media (max-width: 1297px) {
	
// }

// @media (max-width: 1200px) {
	
// }

// @media (max-width: 992px) {

// }

@media (max-width: 767px) {
	.advert {
		&__wrapper {
			width: 343px;
			height: 400px;
			margin: 24px auto 0 auto;
			background-position: 60% 100%;
			background-size: 100%;
		}
		&__descr {
			width: 343px;
			margin: 0;
			padding: 26px 24px 16px 24px;
			h4 {
				font-size: $font-size-24;
				line-height: 28.8px;
			}
			p {
				padding: 0;
			}
		}
		&__btn {
			display: flex;
			align-items: flex-end;
			padding: 0 24px 25px 24px;
			button {
				width: 295px;
				font-size: $font-size-16;
			}
		}
	}
}

// @media (max-width: 576px) {
	
// }

// @media (max-width: 376px) {

// }
		
// @media (max-width: 321px) {
	
// }