@media (max-width: 1296px) {
	.articles {
		&__img {
			img {
				width: 350px;
				height: 220px;
			}
		}
	}
}

// @media (max-width: 1200px) {
	
// }

// @media (max-width: 992px) {

// }

@media (max-width: 767px) {
	.articles {
		&__wrapper {
			width: 343px;
			margin: 100px auto;
			h2 {
				font-size: $font-size-32;
				line-height: 38.4px;
				padding-bottom: 40px;
			}
		}
		&__img {
			img {
				width: 343px;
				height: 140px;
			}
		}
		&__descr {
			margin: 0 0 48px 0;
		}
		&__items {
			h3 {
				width: 343px;
				font-size: $font-size-24;
				line-height: 28.8px;
				margin: 16px 0;
			}
		}
		&__item {
			height: 32px;
			padding: 0;
			&-arrow {
				display: none;
			}
		}
	}
}

// @media (max-width: 576px) {
	
// }

// @media (max-width: 376px) {

// }
		
// @media (max-width: 321px) {
	
// }