// @media (max-width: 1297px) {
	
// }

// @media (max-width: 1200px) {
	
// }

// @media (max-width: 992px) {

// }

@media (max-width: 767px) {
	.footer {
		&__wrapper {
			width: 343px;
			margin: 0 16px;
		}
		&__divider {
			display: none;
		}
		// .accordion-item {
		// 	h5 {
		// 		display: none;
		// 	}
		// 	.accordion-button {
		// 		display: block;
		// 	}
		// }
	}
}

// @media (max-width: 576px) {
	
// }

// @media (max-width: 376px) {

// }
		
// @media (max-width: 321px) {
	
// }