@media (max-width: 992px) {
	.hero {
		&__descr {
			&-title {
				width: 520px;
				font-size: $font-size-55;
			}
		}
	}
}

@media (max-width: 767px) {
	.hero {
		&__wrapper {
			width: 343px;
			margin: 0 auto -86px auto;
			h1 {
				font-size: $font-size-32;
				line-height: 38.4px;
				margin-bottom: 40px;
			}
		}
		&__breadcrumb {
			flex-wrap: wrap;
			row-gap: 8px;
			margin-bottom: 25px;
		}
		&__main {
			min-height: 400px;
			img {
				border-radius: 24px 24px 0 0;
			}
		}
		&__descr {
			overflow: visible;
			&-title {
				position: relative;
				width: 300px;
				font-size: $font-size-32;
				line-height: 38.4px;
				top: 170px;
			}
			&-subtitle {
				position: relative;
				width: 300px;
				flex-direction: column;
				gap: 8px;
				top: 170px;
			}
		}
		.tile__mobile {
			height: 258px;
			background: url('../../img/bg-hero-mobile.png') no-repeat center 100%;
			z-index: 2;
		}
	}
}

@media (max-width: 384px) {
	.hero {
		&__wrapper {
			width: 320px;
		}
		&__mobile {
			width: 320px;
		}
	}
}

@media (max-width: 338px) {
	.hero {
		&__wrapper {
			width: 280px;
		}
		&__mobile {
			width: 280px;
		}
		&__descr {
			&-title {
				width: 235px;
			}
			&-subtitle {
				width: 235px;
			}
		}
	}
}