.owl {
    width: 1440px;
    height: 300px;
    margin: 0 auto 110px;
    .container {
        margin: 0 auto;
    }
    a {
        cursor: zoom-in;
    }
    img {
        &:hover {
            opacity: .7;
        }
    }
}

.slide-one .owl-stage-outer {
    position: relative;
    width: 910px;
    margin: 0 auto;
}
.owl-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -86px;
    span {
        display: block;
        background-image: url(../icons/arrow_left_r.svg);
        font-size: 0;
        padding: 64px 64px 0 0;
    }
}
.owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -86px;
    span {
        display: block;
        background-image: url(../icons/arrow_right_r.svg);
        font-size: 0;
        padding: 64px 64px 0 0;
    }
}
.owl-carousel .owl-nav .owl-prev:hover {
    background: none;
    span {
        background: url(../icons/arrow_left.svg);
    }
}
.owl-carousel .owl-nav .owl-next:hover {
    background: none;
    span {
        background: url(../icons/arrow_right.svg);
    }
}