@media (max-width: 1296px) {
	.carousel {
		.tile__second-img {
			img {
				width: 100%;
			}
			&:before {
				width: 100%;
			}
		}
	}
}

@media (max-width: 767px) {
	.carousel {
		.my-slider {
			height: 480px;
		}
		&__wrapper {
			margin-bottom: 100px;
			h2 {
				font-size: $font-size-32;
				line-height: 38.4px;
			}
			img {
				width: 320px;
				height: 480px;
			}
		}
		&__controls {
			display: none;
		}
		.tile__second-row {
			border-top: none;
		}
		.tile__second-descr {
			position: absolute;
		}
		.tile__title {
			display: none;
		}
		.tile__second-title {
			position: relative;
			width: 272px;
			color: $color-white;
			font-size: $font-size-32;
			line-height: 38.4px;
			margin: 306px 23px 16px 24px;
		}
		.tile__second-subtitle {
			color: $color-white;
			margin: 0 0 0 24px;
		}
		.tile__second-img {
			display: block;
			overflow: hidden;
			&:before {
				height: 480px;
			}
			img {
				object-fit: cover;
			}
		}
		.tns-ovh {
			max-width: 767px;
		}
		#tns1 {
			width: 1430%;
			padding: 0;
		}
		.carousel__wrapper {
			margin: 0 0 100px 16px;
		}
	}
}

@media (max-width: 320px) {
	.carousel {
		&__wrapper {
			img {
				width: 255px;
			}
		}
		.tile__second-descr {
			width: 255px;
		}
		.tile__second-title {
			font-size: $font-size-26;
			width: 240px;
			margin-left: 10px;
		}
		.tile__second-subtitle {
			margin-left: 10px;
		}
		.tile__second-img {
			&:before {
				width: 255px;
			}
		}
		#tns1 {
			width: 1430%;
		}
		.carousel__wrapper {
			margin-left: 5px;
		}
	}
}