@media (max-width: 767px) {
	.carousel {
		&__wrapper {
			max-width: 100%;
			margin: 0 0 100px 25px;
			h2 {
				font-size: $font-size-32;
				line-height: 38.4px;
			}
		}
		&__controls {
			display: none;
		}
		.tile {
			&__title {
				display: none;
			}
			&__second {
				&-row {
					border-top: none;
				}
				&-descr {
					position: absolute;
				}
				&-title {
					position: relative;
					width: 272px;
					color: $color-white;
					font-size: $font-size-32;
					line-height: 38.4px;
					margin: 306px 23px 16px 24px;
				}
				&-subtitle {
					color: $color-white;
					margin: 0 0 0 24px;
				}
				&-img {
					display: block;
					width: 320px;
					height: 480px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					&:before {
						width: 320px;
						height: 480px;
					}
				}
			}
		}
		.glide__slides {
			gap: 0;
		}
		li {
			margin-left: 0 !important;
			margin-right: 0 !important;
			margin-bottom: 0;
		}
	}
}

@media (max-width: 384px) {
	.carousel {
		&__wrapper {
			margin-left: 20px;
		}
		.tile {
			&__second {
				&-descr {
					width: 255px;
				}
				&-title {
					font-size: $font-size-26;
					width: 240px;
					margin-left: 10px;
				}
				&-subtitle {
					margin-left: 10px;
				}
				&-img {
					img {
						width: 330px;
					}
					&:before {
						width: 330px;
					}
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.carousel {
		&__wrapper {
			margin-left: 5px;
		}
		.tile {
			&__second {
				&-img {
					img {
						width: 255px;
					}
					&:before {
						width: 255px;
					}
				}
			}
		}
	}
}