footer.bg-light.py-4
  .container
    .row
      // Компания Section
      .col-md-3
        h5 Компания
        ul.list-unstyled
          li
            a.text-dark.text-decoration-none(href='#') Отзывы
          li
            a.text-dark.text-decoration-none(href='#') Помощь
          li
            a.text-dark.text-decoration-none(href='#') Оферта
          li
            a.text-dark.text-decoration-none(href='#') Конфиденциальность
      // Бизнесу Section
      .col-md-3
        h5 Бизнесу
        ul.list-unstyled
          li
            a.text-dark.text-decoration-none(href='#') Организация командировок
          li
            a.text-dark.text-decoration-none(href='#') Групповые перевозки
          li
            a.text-dark.text-decoration-none(href='#') Безналичный расчет
          li
            a.text-dark.text-decoration-none(href='#') Жд билеты для юрлиц
          li
            a.text-dark.text-decoration-none(href='#') Отели для юрлиц
      // Контакты Section
      .col-md-3
        h5 Контакты
        p.mb-1
          a.text-dark.text-decoration-none(href='tel:+78005111090') +7 800 511 10 90
        p.mb-1
          a.text-dark.text-decoration-none(href='tel:+74954141040') +7 495 414 10 40
        p.mb-1
          a.mail(href='mailto:corporate@onetwotrip.com') corporate@onetwotrip.com
      .col-md-3
        .mt-2
          a(href='#')
            img.me-2(src='img/vk-icon.png' alt='VK')
          a(href='#')
            img.me-2(src='img/youtube-icon.png' alt='YouTube')
          a(href='#')
            img.me-2(src='img/linkedin-icon.png' alt='LinkedIn')
          a(href='#')
            img(src='img/telegram-icon.png' alt='Telegram')
        p.mt-2 Подписывайтесь в социальных сетях на OneTwoTrip для бизнеса
       
    .row.mt-4
      .col-md-6
        h5 Мобильное приложение
        a(href='#')
          img(src='img/app-store-badge.png' class="app" alt='App Store')
        a(href='#')
          img(src='img/google-play-badge.png' class="app" alt='Google Play')
      .col-md-6
        h5 Быстрая установка приложения
        p Наведите камеру на QR-код для установки приложения. Нажмите на QR-код для его увеличения.
        a(href='#')
          img(src='img/qr-code.png' class="qr" alt='QR Code')
    .row.mt-4
      .col-md-12
        h5 Быстрая установка приложения
        p Наведите камеру на QR-код для установки приложения. Нажмите на QR-код для его увеличения.
        a(href='#')
          img(src='img/qr-code.png' class="qr" alt='QR Code')
    .row.mt-4
      .col-md-12.text-center
        a(href='#')
          img(src='img/payment-methods.png' class="payment-methods" alt='Payment Methods')
        p.mt-4.cp Содержимое сайта является объектом авторских прав. Запрещается копировать, использовать, распространять, модифицировать любое содержимое этого сайта. ООО «Вайт Тревел» не несет ответственности за информацию, представленную на внешних сайтах. ©2022 ООО «Вайт Тревел». Все права защищены.
