

  footer {
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: 14px; 

  
    
    .app {
        max-width: 135px;
    }

    .qr {max-width: 59.554px;}

    .payment-methods {
        max-width: 366px;   
    }
    h5 {color: #858FA7;

        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;}

    .list-unstyled{font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 166.667% */}
    .cp {
        font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
color:#CCCCCC;
    }

  }