@import 'libs/bootstrap.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import 'blocks/headernew';
@import 'blocks/popypnew';
@import 'blocks/feedbacknew';
@import 'blocks/popupnewme';
@import 'blocks/popupthanksnew';
@import 'blocks/footernew';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1380px;
    margin: 0;
    padding: 0;
}