.container.parents
    .row
        h1 Блог онлайн-сервиса для организации командировок
    .row.row-cols
        .col-md-8
            a(href="#").btn-label Бухгалтерия
            .desc-frame
                .desc 10 000 бонусовна будущие поездки
                .date 20 апреля 2024
            img(src="/img/property-1-big@2x.png", alt="")
        .col-md-4
            a(href="#").btn-label Бухгалтерия
            .desc-frame
                .desc 10 000 бонусовна будущие поездки
                .date 20 апреля 2024
            img(src="/img/1-small.png", alt="")
    .row.row-cols
        .col
            a(href="#").btn-label Статьи
            .desc-frame
                .desc 10 000 бонусовна будущие поездки
                .date 20 апреля 2024
            img(srcset="/img/sm-2.png", alt="")
        .col
            a(href="#").btn-label Чек листы
            .desc-frame
                .desc 10 000 бонусовна будущие поездки
                .date 20 апреля 2024
            img(srcset="/img/sm-2.png", alt="")
        .col
            a(href="#").btn-label Исследования
            .desc-frame
                .desc 10 000 бонусовна будущие поездки
                .date 20 апреля 2024
            img(srcset="/img/sm-2.png", alt="")
.container.cat
    .row
        .col-md-4
            img(src="/img/l1.png", alt="")
        .col-md-8
            .flex-col-2.flex-col-5
                h2
                    | Как покупать билеты для группы
                    br
                    | сотрудников за 2 минуты:
                    br
                    | кейс «Синтез Инжиниринг»
                .line
                    .date 12 апреля 2024
                    a(href="#") 
                        img.button-3(src='img/btn.svg' alt='Button')

    .row
        .col-md-4
            img(src="/img/l1.png", alt="")
        .col-md-8
            .flex-col-2.flex-col-5
                h2
                    | Как покупать билеты для группы
                    br
                    | сотрудников за 2 минуты:
                    br
                    | кейс «Синтез Инжиниринг»
                .line
                    .date 12 апреля 2024
                    a(href="#") 
                        img.button-3(src='img/btn.svg' alt='Button')
    .row
        .col-md-4
            img(src="/img/l1.png", alt="")
        .col-md-8
            .flex-col-2.flex-col-5
                h2
                    | Как покупать билеты для группы
                    br
                    | сотрудников за 2 минуты:
                    br
                    | кейс «Синтез Инжиниринг»
                .line
                    .date 12 апреля 2024
                    a(href="#") 
                        img.button-3(src='img/btn.svg' alt='Button')
    .row
        .col-md-4
            img(src="/img/l1.png", alt="")
        .col-md-8
            .flex-col-2.flex-col-5
                h2
                    | Как покупать билеты для группы
                    br
                    | сотрудников за 2 минуты:
                    br
                    | кейс «Синтез Инжиниринг»
                .line
                    .date 12 апреля 2024
                    a(href="#") 
                        img.button-3(src='img/btn.svg' alt='Button')
    .row
        .col-md-4
            img(src="/img/l1.png", alt="")
        .col-md-8
            .flex-col-2.flex-col-5
                h2
                    | Как покупать билеты для группы
                    br
                    | сотрудников за 2 минуты:
                    br
                    | кейс «Синтез Инжиниринг»
                .line
                    .date 12 апреля 2024
                    a(href="#") 
                        img.button-3(src='img/btn.svg' alt='Button')