.container
      header.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-md-between.py-3.mb-4.border-bottom
        a.d-flex.align-items-center.col-md-3.mb-2.mb-md-0.text-dark.text-decoration-none(href='/')
          img.bi.me-2(src='img/logo.svg' alt='Logo')
        ul.nav.col-12.col-md-auto.mb-2.justify-content-center.mb-md-0
          li
            a.nav-link.px-2.link-secondary(href='#') Бизнес-путешествия
          li
            a.nav-link.px-2.link-dark(href='#') Путеводители
          li
            a.nav-link.px-2.link-dark(href='#') Новости
          li
            a.nav-link.px-2.link-dark(href='#') Клиенты
        .col-md-3.text-end
          button.btn.btn-clients(type='button') Стать клиентом