@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-SB;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat-B;
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: DINRoundPro;
  src: url(../assets/fonts/DINRoundPro-Bold.ttf);
}

@font-face {
  font-family: Akrobat;
  src: url(../assets/fonts/Akrobat-ExtraBold.otf);
}

@font-face {
  font-family: Caviar;
  src: url(../assets/fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: CaviarB;
  src: url(../assets/fonts/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: CenturyR;
  src: url(../assets/fonts/centurygothic.ttf);
}

@font-face {
  font-family: CenturySB;
  src: url(../assets/fonts/centurygothic_bold.ttf);
}

p,
a,
h3,
h4,
h5,
h6,
span,
button {
  font-family: CenturyR;
}

p {
  font-size: 20px !important;
}

.centurySB {
  font-family: CenturySB !important;
}

.montserratSB {
  font-family: Montserrat-SB !important;
}

.caviar {
  font-family: Caviar;
}

a {
  text-decoration: none;
}

.blue-btn {
  background-color: #024fa2;
  color: white;
  padding-left: 35px;
  padding-right: 25px;
  border-radius: 100px;
  font-weight: 700;
}

.blue-btn:hover {
  background-color: #e31e24;
  color: white;
  padding-left: 35px;
  padding-right: 25px;
  border-radius: 100px;
  font-weight: 700;
}

.nav {
  position: relative;
  align-items: center;
}

.header-hr {
  border: 1px solid rgba(2, 79, 162, 0.5);
}

.container-header {
  background-color: white;
  border-radius: 10px;
}

.grey-link {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 600;
}

.blue-link {
  color: #024fa2;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.blue-link:hover {
  color: #024fa2;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #024fa2;
  border-radius: 0px;
}

.red-link {
  color: #e31e24;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.red-link:hover {
  color: #e31e24;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #e31e24;
  border-radius: 0px;
}

.red-blue-link {
  color: #e31e24;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.red-blue-link:hover {
  color: #e31e24;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #024fa2;
  border-radius: 0px;
}

.second-nav-row {
  z-index: 7 !important;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu {
  position: relative;
  z-index: 5;
}

/*main code*/
body {
  position: relative;
  background: url(../assets/imgs/children-img/main-background.svg) repeat;
}

.def-container {
  max-width: 1320px;
  margin: 0 auto;
}

.banner-section {
  margin-bottom: 106px;
  position: relative;
  /*1ST BANNER*/
  /*2ND BANNER*/
  /*3-D BANNER*/
}

.banner-section .itcss {
  max-width: 1400px;
  height: 510px;
  position: relative;
}

.banner-section .itcss .btn {
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E32E16;
  border-radius: 16px;
  width: 349px;
  margin-top: 76px;
  padding: 10px 42px 9px 42px;
  transition: all .2s ease;
  position: absolute;
  z-index: 2;
  top: 54%;
  left: 6.5%;
}

.banner-section .itcss .btn:hover {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.banner-section .itcss .itcss__wrapper {
  background: white;
  height: 510px;
}

.banner-section .def-container {
  padding: 0;
}

.banner-section .banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner-section .first-banner {
  background: url(../assets/imgs/children-img//banner/bg.svg) no-repeat;
  background-position-x: 495px;
  background-size: 889px 503px;
}

.banner-section .first-banner .polygon {
  position: absolute;
  top: 50%;
  left: 40%;
}

.banner-section .first-banner .first-banner__greetings {
  padding-left: 50px;
  margin-top: -150px;
}

.banner-section .first-banner .first-banner__greetings .title h1 {
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 71px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #E32E16;
}

.banner-section .first-banner .first-banner__greetings .title h1 span {
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  text-transform: uppercase;
  color: #004B9A;
}

.banner-section .first-banner .first-banner__items .main-picture {
  position: relative;
  padding-top: 20px;
}

.banner-section .first-banner .first-banner__items .main-picture img:nth-child(2) {
  position: absolute;
  top: 55%;
  left: 73.5%;
}

.banner-section .first-banner .first-banner__items .main-picture img:nth-child(3) {
  position: absolute;
  top: 0;
  left: -123px;
}

.banner-section .first-banner .first-banner__items .main-picture .main-picture__text {
  position: absolute;
  top: 18.8%;
  left: -13.8%;
}

.banner-section .first-banner .first-banner__items .main-picture .main-picture__text h1 {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #E32E16;
}

.banner-section .first-banner .first-banner__items .main-picture .main-picture__text h2 {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #024FA2;
}

.banner-section .sec-banner {
  background: url(../assets/imgs/children-img//banner/blot.png), url(../assets/imgs/children-img//banner/rays.png), #FFB80C;
  background-repeat: no-repeat, no-repeat;
  background-position-x: -37px, -19px;
  background-position-y: 0px, 0;
}

.banner-section .sec-banner .btn {
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E32E16;
  border-radius: 16px;
  width: 349px;
  margin-top: 76px;
  padding: 10px 42px 9px 42px;
  transition: all .2s ease;
}

.banner-section .sec-banner .btn:hover {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.banner-section .sec-banner .polygon {
  position: absolute;
  top: 55%;
  left: 43%;
}

.banner-section .sec-banner .sec-banner__greetings {
  padding-left: 50px;
}

.banner-section .sec-banner .sec-banner__greetings .sec-banner__greetings__title {
  margin-top: -150px;
}

.banner-section .sec-banner .sec-banner__greetings .sec-banner__greetings__title h1 {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 42px;
  margin-top: 17px;
  margin-left: 75px;
  color: #024FA2;
}

.banner-section .sec-banner .sec-banner__items {
  position: relative;
}

.banner-section .sec-banner .sec-banner__items .sec-banner__items__main-picture {
  position: relative;
}

.banner-section .sec-banner .sec-banner__items .sec-banner__items__main-picture img:first-child {
  margin-left: 150px;
}

.banner-section .sec-banner .sec-banner__items .sec-banner__items__main-picture img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 21%;
  width: 329px;
}

.banner-section .sec-banner .sec-banner__items .sec-banner__items__main-picture img:nth-child(3) {
  position: absolute;
  top: 43%;
  left: 58.5%;
  transform: rotate(5deg);
}

.banner-section .sec-banner .sec-banner__items .sec-banner__items__main-picture .sec-banner__items__main-picture__text {
  position: absolute;
  top: 11%;
  left: 24%;
}

.banner-section .sec-banner .sec-banner__items .sec-banner__items__main-picture .sec-banner__items__main-picture__text h1 {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #E32E16;
}

.banner-section .third-banner {
  background: url(../assets/imgs/children-img//banner/bg2.png) no-repeat;
  background-position-x: 400px;
}

.banner-section .third-banner .btn {
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E32E16;
  border-radius: 16px;
  width: 349px;
  margin-top: 76px;
  padding: 10px 42px 9px 42px;
  transition: all .2s ease;
}

.banner-section .third-banner .btn:hover {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.banner-section .third-banner .polygon {
  position: absolute;
  top: 52%;
  left: 76%;
}

.banner-section .third-banner .third-banner__greetings {
  margin-top: -100px;
  margin-left: 70px;
}

.banner-section .third-banner .third-banner__greetings .third-banner__greetings__title h1 {
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #E32E16;
  margin-right: 60px;
}

.banner-section .third-banner .third-banner__greetings .third-banner__greetings__title h2 {
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #FFDC0A;
  margin-right: 60px;
}

.banner-section .third-banner .third-banner__greetings .third-banner__greetings__title h2:last-child {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  color: #E32E16;
}

.banner-section .third-banner .third-banner__items .third-banner__items__main-picture img {
  background: url(../assets/imgs/children-img//banner/bg3.png) right no-repeat;
  background-position-x: 215px;
  margin-left: -415px;
}

.banner-section .third-banner .third-banner__super-tec {
  margin-left: 120px;
}

.banner-section .third-banner .third-banner__super-tec h1 {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: -80px;
  margin-left: -750px;
}

.banner-section .third-banner .third-banner__super-tec h1 span {
  font-family: CenturySB;
  font-size: 76px;
  line-height: 93px;
}

/*NAVIGATION*/
.nav-section {
  position: relative;
}

.nav-section .navBar {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background: #024FA2;
  padding: 21px 100px 14px 131px;
  border-radius: 100px 100px 0px 0px;
}

.nav-section .navBar .navBar__menu {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.nav-section .navBar .navBar__menu li {
  list-style: none;
}

.nav-section .navBar .navBar__menu li a {
  font-family: Akrobat;
  font-weight: 800;
  font-size: 20px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: white;
}

.nav-section .navBar .navBar__menu li a:hover {
  text-decoration: underline;
}

/*TARGET*/
.our-target .description__and__doc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-target .description__and__doc .about-section .about-section__title h1 {
  text-align: center;
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #024FA2;
  text-align: left;
}

.our-target .description__and__doc .about-section .about-section__descr {
  width: 511px;
  margin-top: 35px;
}

.our-target .description__and__doc .about-section .about-section__descr p {
  font-family: CenturyR;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #4D4D4D;
}

.our-target .description__and__doc .about-section .about-section__descr p span {
  font-family: CenturySB;
}

.our-target .description__and__doc .basic-doc {
  display: flex;
  padding-bottom: 40px;
}

.our-target .description__and__doc .basic-doc .main-doc {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #024FA2;
  margin-top: 16.53px;
}

.our-target .description__and__doc .basic-doc .anastasia {
  width: 220px;
  margin-right: 22px;
  margin-top: 123px;
}

.our-target .description__and__doc .basic-doc .oksana {
  width: 293px;
}

.our-target .skills {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-target .skills h2 {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #024FA2;
}

.our-target .skills .skills__safety-and-adapt {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.our-target .skills .skills__safety-and-adapt .skills__safety {
  position: relative;
}

.our-target .skills .skills__safety-and-adapt .skills__safety .safety__descr {
  position: absolute;
  top: 100px;
  left: 0;
  opacity: 0;
  transition: all 1.5s .5s ease;
  z-index: -1;
}

.our-target .skills .skills__safety-and-adapt .skills__safety .safety__descr.element-show {
  opacity: 1;
  transform: translateY(270%) translateX(-78%);
}

.our-target .skills .skills__safety-and-adapt .skills__adaptation {
  position: relative;
  margin-top: 58px;
}

.our-target .skills .skills__safety-and-adapt .skills__adaptation img {
  float: right;
}

.our-target .skills .skills__safety-and-adapt .skills__adaptation .adapt__descr {
  position: absolute;
  top: 54%;
  left: 40%;
  z-index: -1;
  opacity: 0;
  transition: all 1.5s .5s ease;
}

.our-target .skills .skills__safety-and-adapt .skills__adaptation .adapt__descr.element-show {
  opacity: 1;
  transform: translateY(0) translateX(-130%);
}

.our-target .skills .skills__presents {
  position: relative;
}

.our-target .skills .skills__presents .main-present {
  position: absolute;
  top: 3.6%;
  left: 5.55%;
}

.our-target .skills .skills__presents .present__descr {
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: -1;
  opacity: 0;
  transition: all 1.5s .5s ease;
}

.our-target .skills .skills__presents .present__descr.element-show {
  opacity: 1;
  transform: translateY(235%) translateX(0);
}

.our-target .skills .skills__friendly-and-gameZone {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.our-target .skills .skills__friendly-and-gameZone .skills__friendly-atm {
  position: relative;
  margin-bottom: 48px;
}

.our-target .skills .skills__friendly-and-gameZone .skills__friendly-atm .frendly-atm__descr {
  position: absolute;
  top: 55%;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 1.5s .5s ease;
}

.our-target .skills .skills__friendly-and-gameZone .skills__friendly-atm .frendly-atm__descr.element-show {
  opacity: 1;
  transform: translateY(0%) translateX(120%);
}

.our-target .skills .skills__friendly-and-gameZone .skills__game-zone {
  position: relative;
}

.our-target .skills .skills__friendly-and-gameZone .skills__game-zone .game-zone__descr {
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: -1;
  opacity: 0;
  transition: all 1.5s .5s ease;
}

.our-target .skills .skills__friendly-and-gameZone .skills__game-zone .game-zone__descr.element-show {
  opacity: 1;
  transform: translateY(120%) translateX(90%);
}

/*VIDEO*/
.video-section {
  margin-top: 130px;
  padding-bottom: 142px;
  position: relative;
}

.video-section::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 255px;
  background: #FFDC0A;
  bottom: 30%;
  left: 15%;
  z-index: -10;
  box-shadow: -8px -4px 10px rgba(0, 0, 0, 0.25), 4px 8px 7px rgba(0, 0, 0, 0.25);
}

.video-section .video {
  position: relative;
}

.video-section .video .ellipse {
  position: absolute;
  top: -35px;
  left: 545px;
  z-index: -1;
}

.video-section .video .vector {
  position: absolute;
  bottom: -25px;
  left: -50px;
  transform: rotate(0.5deg);
  z-index: -1;
}

.video-section .video .video__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #323232;
  width: 445px;
  background: #FFFFFF;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.338);
  border-radius: 38px;
  height: 183px;
  position: absolute;
  top: 0;
  left: 14%;
}

.video-section .video .video__description span {
  font-family: CenturySB;
}

.video-section .video .video__first-description {
  padding: 17px 5px 16px 20px;
  margin-bottom: 14px;
  top: 1%;
  z-index: -1;
  opacity: 0;
}

.video-section .video .video__first-description.element-show {
  transition: all 3s ease;
  opacity: 1;
  transform: translateX(110%) translateY(-8%);
}

.video-section .video .video__sec-description {
  padding: 22px 5px 19px 23px;
  top: 55%;
  z-index: -1;
  opacity: 0;
  height: 141px;
}

.video-section .video .video__sec-description.element-show {
  transition: all 3s ease;
  opacity: 1;
  transform: translateX(110%) translateY(-2%);
}

.price-section .owl-carousel__price {
  box-sizing: border-box;
  overflow: hidden;
}

.price-section .owl-carousel__price .owl-stage-outer {
  text-align: center;
}

.price-section .owl-carousel__price .owl-stage-outer .owl-stage {
  display: flex;
  justify-content: center;
}

.price-section .owl-carousel__price .owl-dots {
  margin-top: 100px !important;
}

.price-section .price {
  width: 350px;
  height: 462px;
  border: 2px solid #024FA2;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.381);
  border-radius: 61px;
  margin-top: 50px;
  background: url(../assets/imgs/children-img/price/plank.svg) center no-repeat;
  background-color: #fff;
  background-position-y: 0;
  background-size: auto 121px;
  margin-left: 35px;
  position: relative;
}

.price-section .price .price__title {
  padding: 16px 0px 0px 30px;
  display: flex;
  justify-content: space-around;
}

.price-section .price .price__title h2 {
  text-align: left;
  color: white;
  font-family: DINRoundPro;
  font-size: 27px;
  line-height: normal;
  text-transform: uppercase;
}

.price-section .price .price__descr {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 55px;
}

.price-section .price .price__descr p {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 24px !important;
  margin-top: 100px;
  line-height: 102.5%;
  text-align: center;
  width: 291px;
  vertical-align: middle;
  color: #4D4D4D;
  position: relative;
}

.price-section .price .price__descr p::after {
  content: "";
  position: absolute;
  width: 251px;
  height: 2px;
  background-color: #024FA2;
  top: 120%;
  left: 7%;
}

.price-section .price .price__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.price-section .price .price__services p {
  width: 261px;
  font-family: CenturySB;
  font-weight: 700;
  font-size: 16px !important;
  line-height: 102.5%;
  text-align: center;
  color: #4d4d4dab;
  position: relative;
}

.price-section .price .price__services p:not(p:last-child) {
  margin-bottom: 15px;
}

.price-section .price .price__services p:last-child {
  margin-bottom: 35px;
}

.price-section .price .price__services p::after {
  content: "";
  position: absolute;
  width: 185px;
  height: 2px;
  background-color: #024FA2;
  top: 120%;
  left: 13%;
}

.price-section .price .price__services h5 {
  background: url(../assets/imgs/children-img/price/arrow.svg) center no-repeat;
  background-position-x: 130px;
  padding-right: 50px;
  height: 17px;
  margin-left: 50px;
  margin-bottom: 35px;
  font-family: CenturyR;
  font-weight: 400;
  font-size: 16px;
  line-height: 102.5%;
  color: #4D4D4D;
}

.price-section .price .price__valid {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 24px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #024FA2;
}

.price-section .price .btn {
  margin-top: 15px;
  background: #E32E16;
  border-radius: 16px;
  font-family: DINRoundPro;
  font-weight: 700;
  height: 50px;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0px 30px 0px 32px;
}

.price-section .price .last-p {
  margin-bottom: 50px !important;
}

.price-section .price .first-title {
  margin-top: 15px;
}

.price-section .price .pre-last-title {
  margin-top: 15px;
  margin-bottom: 53px;
}

.price-section .price .last-title {
  margin-top: 15px;
  margin-bottom: 53px;
}

.price-section .price .implant {
  transform: rotate(-5.39deg);
  margin-top: -20px;
}

.price-section .price .drill {
  margin-top: -45px;
  margin-right: 20px;
  background: url(../assets/imgs/children-img/price/teeth.svg) center no-repeat;
  background-position-y: 72px;
  background-position-x: 19px;
}

.price-section .price .inspect {
  margin-left: -20px;
}

.price-section .price .brackets {
  transform: rotate(6.82deg);
}

/*TRIATMENT*/
.treatment-section {
  margin-top: 59px;
  padding-bottom: 129px;
}

.treatment-section .title {
  text-align: center;
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #024FA2;
}

.treatment-section .title h2 {
  color: #E32E16;
  font-size: 27px;
  line-height: 102.5%;
}

.treatment-section .treatment {
  margin-top: 47px;
}

.treatment-section .treatment div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.treatment-section .treatment div:not(div:last-child) {
  margin-bottom: 4px;
}

/*DOCTORS SLIDER*/
.doc-section {
  padding-bottom: 127px;
  position: relative;
}

.doc-section .title {
  text-align: center;
  margin-bottom: 50px;
}

.doc-section .title h1 {
  text-align: center;
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #024FA2;
}

.doc-section .itcss {
  height: 520px;
  max-width: 1000px;
}

.doc-section .itcss .itcss__wrapper {
  height: 520px;
  background-color: transparent;
}

.doc-section .doc {
  display: flex;
  justify-content: space-between;
  border-radius: 38px;
  width: 920px;
  height: 468px;
  position: relative;
  background: url(../assets/imgs/children-img/doc/bg.svg) no-repeat;
  background-position-y: -10px;
  background-position-x: 395px;
  padding: 48px 20px 48px 35px;
  background-color: #FFFFFF86;
  box-shadow: -5px -2px 8px rgba(0, 0, 0, 0.25), 5px 4px 9px rgba(0, 0, 0, 0.25) inset;
  border-radius: 38px;
  margin-top: 20px;
  margin-left: 35px;
}

.doc-section .doc .doc__inf {
  position: relative;
}

.doc-section .doc .doc__inf .doc__name h1 {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 25px;
  line-height: 102.5%;
  color: #024FA2;
  width: 550px;
  position: absolute;
}

.doc-section .doc .doc__inf .doc__spec h2 {
  margin-top: 40px;
  font-family: CenturySB;
  font-weight: 700;
  font-size: 22px;
  line-height: 102.5%;
  color: #4D4D4D;
}

.doc-section .doc .doc__inf .doc__exp {
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  text-transform: uppercase;
  color: #E32E16;
  margin-bottom: 49px;
  margin-left: 20px;
}

.doc-section .doc .doc__inf .doc__exp img {
  position: absolute;
  left: 10px;
}

.doc-section .doc .doc__inf .doc__documents {
  position: relative;
  margin-left: 37px;
}

.doc-section .doc .doc__inf .doc__documents img:not(img:first-child) {
  position: absolute;
}

.doc-section .doc .doc__inf .doc__documents img:nth-child(2) {
  left: 15%;
  z-index: 2;
}

.doc-section .doc .doc__inf .doc__documents img:nth-child(3) {
  left: 30%;
  z-index: 3;
}

.doc-section .doc .doc__inf .doc__documents img:nth-child(4) {
  left: 45%;
  z-index: 4;
}

.doc-section .doc .doc__inf .doc__documents img:nth-child(5) {
  left: 60%;
  z-index: 5;
}

.doc-section .doc .doc__inf .doc__documents img:nth-child(6) {
  left: 75%;
  z-index: 6;
}

.doc-section .doc .doc__inf .btn {
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E32E16;
  border-radius: 16px;
  width: 349px;
  margin-top: 76px;
  padding: 10px 42px 9px 42px;
  transition: all .2s ease;
  width: 332px;
  border-radius: 24px;
  margin-top: 36px;
  margin-left: 43px;
}

.doc-section .doc .doc__inf .btn:hover {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.doc-section .doc .doc__image {
  position: relative;
  margin-top: -40px;
}

.doc-section .doc .doc__image h2 {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 18px;
  line-height: 102.5%;
  text-align: center;
  color: #4D4D4D;
  position: absolute;
  z-index: 6;
  width: 300px;
  top: 76%;
}

.doc-section .doc .doc__image > img:first-child {
  background: url(../assets/imgs/children-img/doc/grid.svg) no-repeat;
  background-position-y: 69px;
  background-position-x: 125px;
}

.doc-section .doc .doc__image > img:not(img:first-child) {
  position: absolute;
  z-index: 2;
  left: -12px;
  top: 60.6%;
}

.doc-section .doc .doc__image > img:nth-child(2) {
  left: -14px !important;
  top: calc(2.1% + 60.6%) !important;
}

.doc-section .doc .doc__image .doc__blue-teeth {
  position: absolute;
  top: 31.7%;
  left: 35px;
}

.doc-section .doc .doc__image .doc__blue-teeth img:last-child {
  position: absolute;
  top: 27%;
  left: 24.5%;
}

.doc-section .doc .doc__image .doc__red-teeth {
  position: absolute;
  top: 72.3%;
  left: 75%;
}

.doc-section .doc .doc__image .doc__red-teeth img:last-child {
  position: absolute;
  top: 20%;
  left: 26.7%;
}

.doc-section .btn-prev img {
  transition: all .3s ease;
}

.doc-section .btn-prev img:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.doc-section .btn-next img {
  transition: all .3s ease;
}

.doc-section .btn-next img:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.doc-section .def-container {
  position: relative;
}

.doc-section .def-container > button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 52%;
  left: 7.5%;
}

.doc-section .def-container > button:last-child {
  left: 84.7%;
}

/*NEW LOOK ON WORLD FOR KIDS & ADULT*/
.new-look {
  padding-bottom: 76px;
}

.new-look .title {
  text-align: center;
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #024FA2;
}

.new-look .polygons {
  margin-top: 43px;
}

.new-look .polygons .polygon {
  display: flex;
  justify-content: space-between;
}

.new-look .polygons .polygon > div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.new-look .polygons .polygon > div:first-child {
  margin-left: 80px;
}

.new-look .polygons .polygon > div:first-child .polygon__sec img {
  margin-left: 280px;
  margin-top: -60px;
}

.new-look .polygons .polygon > div:last-child {
  margin-right: 150px;
}

.new-look .polygons .polygon > div:last-child .polygon__third img {
  margin-right: 280px;
}

.new-look .polygons .polygon > div:last-child .polygon__fourth img {
  margin-left: 280px;
  margin-top: -60px;
}

.new-look .def-container {
  position: relative;
}

.new-look .chaotic-mugs img {
  position: absolute;
}

.new-look .chaotic-mugs img:first-child {
  top: 110px;
  left: 365px;
  animation: animImg1 4s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(2) {
  top: 220px;
  left: 400px;
  animation: animImg2 4s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(3) {
  top: 65%;
  left: 224.4px;
  animation: animImg3 4s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(4) {
  top: 78%;
  left: 316.8px;
  animation: animImg3 5s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(5) {
  top: 255px;
  left: 530px;
  animation: animImg3 3.5s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(6) {
  top: 80px;
  left: 570px;
  animation: animImg3 3.999s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(7) {
  top: 53%;
  left: 629.64px;
  animation: animImg3 4.5s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(8) {
  top: 73%;
  left: 699.6px;
  animation: animImg3 4.2s .5s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(9) {
  top: 60%;
  left: 844.8px;
  animation: animImg3 3s 1s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(10) {
  top: 52%;
  left: 950.4px;
  animation: animImg3 3.6s .2s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(11) {
  top: 36%;
  left: 990px;
  animation: animImg3 4.9s .5s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(12) {
  top: 105px;
  left: 937.2px;
  animation: animImg3 4.5s .5s linear infinite alternate;
}

.new-look .chaotic-mugs img:nth-child(13) {
  top: 160px;
  left: 1095.6px;
  animation: animImg3 5s linear infinite alternate;
}

/*GALLARY*/
.atmosphere-section {
  margin-bottom: 94px;
}

.atmosphere-section .title {
  text-align: center;
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #024FA2;
}

.atmosphere-section .itcss {
  max-width: 1200px;
  height: 600px;
}

.atmosphere-section .itcss .itcss__wrapper {
  background-color: transparent;
  height: 600px;
}

.atmosphere-section .gallary {
  display: flex;
  margin-top: 40px;
  margin-left: 50px;
}

.atmosphere-section .gallary .gallary__fstItem {
  position: relative;
  margin-right: 30px;
}

.atmosphere-section .gallary .gallary__fstItem img:first-child {
  border-radius: 20px;
  box-shadow: -5px -2px 8px rgba(0, 0, 0, 0.25), 5px 4px 9px rgba(0, 0, 0, 0.25);
}

.atmosphere-section .gallary .gallary__fstItem img:not(img:first-child) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.atmosphere-section .gallary .gallary__fstItem img:nth-child(2) {
  top: 72% !important;
  left: -30px !important;
}

.atmosphere-section .gallary .gallary__fstItem img:nth-child(3) {
  top: 35% !important;
  left: 87% !important;
}

.atmosphere-section .gallary .gallary__otherItems {
  position: relative;
}

.atmosphere-section .gallary .gallary__otherItems img:first-child {
  margin-bottom: 35px;
  border-radius: 20px;
  box-shadow: -5px -2px 8px rgba(0, 0, 0, 0.25), 5px 4px 9px rgba(0, 0, 0, 0.25);
}

.atmosphere-section .gallary .gallary__otherItems img:nth-child(3) {
  border-radius: 20px;
  box-shadow: -5px -2px 8px rgba(0, 0, 0, 0.25), 5px 4px 9px rgba(0, 0, 0, 0.25);
}

.atmosphere-section .gallary .gallary__otherItems img:nth-child(2) {
  z-index: -1;
  position: absolute;
  top: 10%;
  left: 59%;
}

.atmosphere-section .gallary .gallary__otherItems img:nth-child(4) {
  z-index: -1;
  position: absolute;
  top: 89.5%;
  left: 78%;
}

.atmosphere-section .buttons {
  text-align: center;
}

.atmosphere-section .buttons .gallary-btn__prev,
.atmosphere-section .buttons .gallary-btn__next {
  transition: all .2s ease;
  background: #FFDC0A;
  border-radius: 50%;
  border: none;
  width: 67px;
  height: 70px;
}

.atmosphere-section .buttons .gallary-btn__prev:hover,
.atmosphere-section .buttons .gallary-btn__next:hover {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
}

.atmosphere-section .buttons .gallary-btn__prev {
  margin-right: 23px;
}

/*NEWS*/
.news-section {
  overflow: hidden;
  margin-bottom: 111px;
  position: relative;
}

.news-section::after {
  content: "";
  width: 100%;
  height: 375px;
  background: #FFDC0A;
  box-shadow: 0px -6px 9px rgba(0, 0, 0, 0.25), 3px 6px 8px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: -10;
  top: 30.5%;
}

.news-section .title {
  text-align: center;
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #024FA2;
  margin-bottom: 80px;
}

.news-section .news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.news-section .news .news__banner {
  margin-left: 80px;
  position: relative;
}

.news-section .news .news__banner .tablet {
  position: relative;
}

.news-section .news .news__banner .tablet .slider-bg {
  position: absolute;
  top: 5%;
  left: 3.6%;
}

.news-section .news .news__banner .tablet .news__not {
  position: absolute;
  top: 16px;
  left: 22px;
  background: #024FA2;
  border-radius: 0px 0px 15px 15px;
  padding: 16px 157px 15px 14px;
  z-index: 20;
}

.news-section .news .news__banner .tablet .news__not h2 {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 28px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.news-section .news .news__banner .tablet .soc-netw {
  position: absolute;
}

.news-section .news .news__banner .btn {
  width: 411px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 69%;
  left: 16%;
}

.news-section .news .news__banner .btn button {
  background: #E32E16;
  border-radius: 16px;
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 10px 43.5px 9px 43px;
}

.news-section .news .news__banner .arrow {
  background: #FFDC0A;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 45%;
  left: 3.8%;
}

.news-section .news .news__banner .arrow img {
  position: absolute;
  top: 5%;
  left: 6.84%;
}

.news-section .news .news__banner .arrow:last-child {
  left: 89%;
}

.news-section .news .news__human {
  margin-right: 50px;
  margin-bottom: 85px;
  padding-left: 50px;
  background: url(../assets/imgs/children-img/news/bg.svg) center no-repeat;
  background-position-y: 93px;
  background-position-x: -11px;
}

.news-section .news .news__cloud {
  position: absolute;
  top: 40%;
  left: 65.5%;
  opacity: 0;
}

.news-section .news .news__cloud.element-show {
  opacity: 1;
  transition: all 1s ease;
  transform: translate(-70%, -120%);
}

/*REVIEWS*/
.reviews-section {
  padding-bottom: 131px;
}

.reviews-section .title {
  text-align: center;
  font-family: DINRoundPro;
  font-weight: 700;
  font-size: 32px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #024FA2;
  margin-bottom: 30px;
}

.reviews-section .itcss {
  max-width: 980px;
  height: 450px;
}

.reviews-section .itcss .itcss__wrapper {
  background-color: transparent;
  height: 450px;
}

.reviews-section .itcss .itcss__indicators {
  bottom: -20px;
}

.reviews-section .itcss .itcss__indicators .itcss__indicator {
  width: 11px;
  height: 12px;
  background: #323232;
  border: none;
  border-radius: 50%;
}

.reviews-section .itcss .itcss__indicators .itcss__indicator_active {
  background: #E30016;
}

.reviews-section .reviews {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 920px;
  height: 397px;
  background: #FFFFFF;
  box-shadow: -4px -2px 23px rgba(0, 0, 0, 0.25), 6px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  padding: 33px 53px 42px 45px;
  margin-left: 30px;
  margin-top: 20px;
  padding-bottom: 30px;
}

.reviews-section .reviews .reviews__reviwer-photo {
  margin-right: 31px;
}

.reviews-section .reviews .reviews__description .reviews__reviewer-name {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #4D4D4D;
}

.reviews-section .reviews .reviews__description .reviews__reviewer-place {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #4D4D4D;
}

.reviews-section .reviews .reviews__description .reviews__review {
  font-family: CenturyR;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #4D4D4D;
}

.reviews-section .reviews .reviews__description .reviews__rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-section .reviews .reviews__description .reviews__rate .reviews__full-review a {
  font-family: CenturySB;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #024FA2;
}

.reviews-section .reviews .reviews__description .reviews__rate .reviews__full-review a:hover {
  text-decoration: underline;
}

.reviews-section .def-container {
  position: relative;
}

.reviews-section .def-container .buttons .review-prev,
.reviews-section .def-container .buttons .review-next {
  transition: all .2s ease;
  position: absolute;
  top: 48%;
  left: 0;
  background: #FFDC0A;
  border-radius: 50%;
  border: none;
  width: 67px;
  height: 70px;
}

.reviews-section .def-container .buttons .review-prev:hover,
.reviews-section .def-container .buttons .review-next:hover {
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.25);
}

.reviews-section .def-container .buttons .review-prev {
  left: 8%;
}

.reviews-section .def-container .buttons .review-next {
  left: 86.7%;
}

/*CONTACT*/
.map-section {
  padding-bottom: 163px;
}

.map-section .map {
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-section .map .map-data {
  margin-right: 96px;
}

.map-section .map .map-data p {
  font-family: Caviar;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #737373;
}

.map-section .map .map-data .title {
  font-family: Montserrat-SB;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #4D4D4D;
  margin-bottom: 25px;
}

.map-section .map .map-data .dest {
  margin-bottom: 20px;
}

.map-section .map .map-data .dest button {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 8px 24px 8px;
  height: 49px;
}

.map-section .map .map-data .dest button:first-child {
  border: 4px solid #024FA2;
  border-radius: 10px;
  background: transparent;
  color: #024FA2;
  background: url(../assets/imgs/children-img/map/metro-fav.svg) center no-repeat;
  background-position-x: 15px;
  padding-left: 50px;
}

.map-section .map .map-data .dest button:nth-child(2) {
  background: #024FA2;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.map-section .map .map-data .dest p {
  font-family: CenturyR;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #737373;
  margin-top: 20px;
}

.map-section .map .map-data .point {
  margin-top: 40px;
  margin-bottom: 20px;
  background: url(../assets/imgs/children-img/map/point.svg) center no-repeat;
  background-position-x: 0px;
  padding-left: 53px;
}

.map-section .map .map-data .point p {
  font-family: CaviarB;
}

.map-section .map .map-data .phone {
  margin-bottom: 29px;
  background: url(../assets/imgs/children-img/map/phone.svg) center no-repeat;
  background-position-x: 15px;
  padding-left: 53px;
  height: 30px;
  margin-top: 30px;
}

.map-section .map .map-data .phone a {
  font-family: CaviarB;
  font-size: 24px;
  line-height: 30px;
  color: #737373;
}

.map-section .map .map-data .timetable {
  margin-bottom: 27px;
  background: url(../assets/imgs/children-img/map/clock.svg) center no-repeat;
  background-position-x: 10px;
  padding-left: 51px;
  height: 30px;
  margin-top: 20px;
}

.map-section .map .map-data .timetable span {
  font-family: CaviarB;
}

.map-section .map .map-data .mail {
  margin-top: 20px;
  margin-bottom: 28px;
  background: url(../assets/imgs/children-img/map/mail.svg) center no-repeat;
  background-position-x: 4px;
  padding-left: 51px;
  height: 30px;
}

.map-section .map .map-data .btn {
  margin-top: 20px;
  background: #024FA2;
  border-radius: 4px;
  width: 364px;
  padding: 8px 100px;
  height: 51px;
  font-family: Montserrat;
  font-size: 22px;
}

@keyframes animImg1 {
  0% {
    transform: translate(2px, 1px);
  }
  20% {
    transform: translate(2px, 3px);
  }
  40% {
    transform: translate(1px, 2px);
  }
  60% {
    transform: translate(3px, 2px);
  }
  80% {
    transform: translate(2px, 3px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes animImg2 {
  0% {
    transform: translate(1px, 2px);
  }
  20% {
    transform: translate(1px, 1px);
  }
  40% {
    transform: translate(0.5px, 2px);
  }
  60% {
    transform: translate(1px, 2.5px);
  }
  80% {
    transform: translate(0.5px, 2px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes animImg3 {
  0% {
    transform: translate(3px, 4px);
  }
  20% {
    transform: translate(3px, 3px);
  }
  40% {
    transform: translate(2.5px, 3.5px);
  }
  60% {
    transform: translate(1px, 3.5px);
  }
  80% {
    transform: translate(0.5px, 3px);
  }
  100% {
    transform: translate(0px);
  }
}

/*IMPORT STYLE FROM MAIN SITE*/
/*--------------*/
.footer {
  background-color: #024fa2;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.first-row-footer {
  display: flex;
  justify-content: space-around;
}

.second-row-footer {
  display: flex;
  justify-content: space-between;
}

.superkids {
  display: flex;
  flex-direction: row;
}

.hr {
  color: #d9d9d9;
  height: 2px;
}

.white {
  color: white;
}

.red {
  color: #e31e24;
}

/*--------------*/
@keyframes safetyAnim {
  from {
    transform: translateY(0) translateX(0);
  }
  30% {
    opacity: 1;
  }
  to {
    transform: translateY(30%) translateX(-30%);
  }
}

@media screen and (max-width: 1024px) {
  .def-container {
    width: 733px !important;
    max-width: none !important;
  }
  h1 {
    font-size: 20px !important;
    line-height: 20.5px !important;
  }
  h2 {
    font-size: 18px !important;
    line-height: 18.45px !important;
  }
  .header .logo {
    width: 113px !important;
  }
  .header .nav-link {
    font-size: 12px;
    line-height: 15px;
    font-family: Montserrat-SB;
    padding: 8px 3px;
  }
  .header .phone-icon {
    width: 20px;
  }
  .header .mobile-link {
    font-size: 14px;
    line-height: 17.07px;
    font-family: Montserrat-SB;
  }
  .header .btn {
    font-size: 12px;
    line-height: 15px;
    font-family: Montserrat-SB;
    padding-top: 9px !important;
  }
  .header .white-phone-icon {
    width: 13px;
    margin-left: 5px;
  }
  .header-hr .nav-link {
    font-size: 14px;
    line-height: 17px;
    font-family: Montserrat-B;
  }
  .banner-section {
    overflow: hidden;
  }
  .our-target h1 {
    font-size: 20px !important;
    float: left !important;
    line-height: 20.5px !important;
  }
  .our-target p {
    font-size: 14px !important;
    line-height: 17.17px !important;
  }
  .our-target h2 {
    font-size: 14px !important;
    line-height: 17.17px !important;
  }
  .our-target .description__and__doc {
    justify-content: start;
  }
  .our-target .description__and__doc .about-section__descr {
    width: 350px !important;
    margin-right: 10px;
  }
  .our-target .basic-doc {
    width: 141px;
  }
  .our-target .basic-doc .anastasia {
    margin-left: 35px;
  }
  .our-target .basic-doc .anastasia img {
    width: 141px;
  }
  .our-target .basic-doc .oksana {
    width: 185px;
  }
  .our-target .basic-doc .oksana img {
    width: 185px;
  }
  .our-target .skills .icon_skill_fst {
    width: 168px;
  }
  .our-target .skills .icon_skill_sec {
    width: 104px;
  }
  .our-target .skills .icon_skill_thrd {
    width: 168px;
  }
  .our-target .skills .main-present {
    width: 148px;
  }
  .our-target .skills .icon_skill_fourth {
    width: 104px;
  }
  .our-target .skills .icon_skill_fifth {
    width: 167px;
  }
  .our-target .skills__safety-and-adapt {
    margin-right: 10px !important;
  }
  .our-target .skills__safety-and-adapt .safety__descr img {
    width: 168px;
  }
  .our-target .skills__safety-and-adapt .safety__descr.element-show {
    opacity: 1;
    transform: translateY(150%) translateX(-78%) !important;
  }
  .our-target .skills__safety-and-adapt .adapt__descr img {
    width: 105px;
  }
  .our-target .skills__safety-and-adapt .adapt__descr.element-show {
    opacity: 1;
    transform: translateY(0) translateX(-130%);
  }
  .our-target .present__descr img {
    width: 92px;
  }
  .our-target .present__descr.element-show {
    opacity: 1;
    transform: translateY(105%) translateX(0);
  }
  .our-target .skills__friendly-and-gameZone {
    margin-left: 10px !important;
  }
  .our-target .skills__friendly-and-gameZone .frendly-atm__descr img {
    width: 115px;
  }
  .our-target .skills__friendly-and-gameZone .frendly-atm__descr.element-show {
    opacity: 1;
    transform: translateY(0%) translateX(30%);
  }
  .our-target .game-zone__descr img {
    width: 104px;
  }
  .our-target .game-zone__descr.element-show {
    opacity: 1;
    transform: translateY(80%) translateX(50%);
  }
  .video-section::after {
    bottom: 38%;
    height: 177px;
  }
  .video-section .video .video__icon {
    width: 442px;
  }
  .video-section .video .ellipse {
    width: 70px;
    left: 385px;
    top: -27px;
  }
  .video-section .video .vector {
    width: 103px;
    left: -30px;
    bottom: -15px;
  }
  .video-section .video .video__description {
    width: 255px;
  }
  .video-section .video .video__description p {
    font-size: 14px !important;
    line-height: 17.17px !important;
    margin-bottom: 0;
  }
  .video-section .video .video__first-description.element-show {
    transform: translateX(145%) translateY(80%) !important;
  }
  .video-section .video .video__sec-description.element-show {
    transform: translateX(145%) translateY(-100%) !important;
  }
  .treatment-section .treatment img {
    width: 398px;
  }
  .doc-section .doc {
    background: url(../assets/imgs/children-img/doc/adapt/bg.svg) no-repeat;
    background-position-y: -10px;
    background-position-x: 395px;
  }
  .doc-section .doc .doc__inf .doc__documents img {
    width: 67px;
  }
  .doc-section .doc .doc__inf .btn {
    width: 203px !important;
    font-size: 20px !important;
    line-height: 25.76px !important;
  }
  .doc-section .doc .doc__image .alena {
    width: 363px !important;
  }
  .new-look .polygons .polygon img {
    width: 173.48px;
  }
  .new-look .polygons .polygon .polygon__first-sec {
    margin-left: 36px !important;
  }
  .new-look .polygons .polygon .polygon__sec img {
    margin-left: 180px !important;
    margin-top: -42px !important;
  }
  .new-look .polygons .polygon .polygon__fourth img {
    margin-left: 180px !important;
    margin-top: -42px !important;
  }
  .new-look .chaotic-mugs img:first-child {
    width: 20px;
    top: 80px;
    left: 196px;
  }
  .new-look .chaotic-mugs img:nth-child(2) {
    width: 57px;
    top: 129px;
    left: 226px;
  }
  .new-look .chaotic-mugs img:nth-child(3) {
    width: 57px;
    top: 68%;
    left: 111.4px;
  }
  .new-look .chaotic-mugs img:nth-child(4) {
    width: 27px;
    top: 81.5%;
    left: 169.8px;
  }
  .new-look .chaotic-mugs img:nth-child(5) {
    width: 20px;
    top: 146px;
    left: 313px;
  }
  .new-look .chaotic-mugs img:nth-child(6) {
    width: 57px;
    top: 57px;
    left: 328px;
  }
  .new-look .chaotic-mugs img:nth-child(7) {
    width: 27px;
    top: 53%;
    left: 364.64px;
  }
  .new-look .chaotic-mugs img:nth-child(8) {
    width: 50px;
    top: 73%;
    left: 402.6px;
  }
  .new-look .chaotic-mugs img:nth-child(9) {
    width: 57px;
    top: 60%;
    left: 493.79999999999995px;
  }
  .new-look .chaotic-mugs img:nth-child(10) {
    width: 27px;
    top: 52%;
    left: 566.4px;
  }
  .new-look .chaotic-mugs img:nth-child(11) {
    width: 27px;
    top: 36%;
    left: 594px;
  }
  .new-look .chaotic-mugs img:nth-child(12) {
    width: 19px;
    top: 70px;
    left: 553.2px;
  }
  .new-look .chaotic-mugs img:nth-child(13) {
    width: 50px;
    top: 97px;
    left: 653.5999999999999px;
  }
  .atmosphere-section .itcss {
    height: 400px;
  }
  .atmosphere-section .itcss .itcss__wrapper {
    height: inherit;
  }
  .atmosphere-section .gallary {
    width: 733px;
    margin-left: 29px;
  }
  .atmosphere-section .gallary .gallary__otherItems {
    margin-left: -15px;
  }
  .atmosphere-section .gallary .maim_img {
    width: 453px !important;
  }
  .atmosphere-section .gallary .other_img {
    width: 206px !important;
  }
  .atmosphere-section .gallary .yell-ellipse {
    width: 121px;
    top: 69% !important;
    left: -18px !important;
  }
  .atmosphere-section .gallary .blue-ellipse {
    width: 94px;
  }
  .atmosphere-section .gallary .red-ellipse {
    width: 94px;
    top: 7% !important;
    left: 49% !important;
  }
  .atmosphere-section .gallary .black-ellipse {
    width: 36.9px;
    top: 88% !important;
    left: 68% !important;
  }
}

.map-section .map .map-data {
  margin-right: 56px !important;
}

.map-section .map h2 {
  font-size: 20.11px !important;
  line-height: 24.51px !important;
}

.map-section .map p,
.map-section .map a {
  font-size: 14px !important;
  line-height: 17.17px !important;
}

.map-section .map .dest button {
  font-size: 11.31px !important;
  line-height: 13.79px !important;
}

.map-section .map .btn {
  padding: 0 !important;
  width: 279px !important;
  font-size: 15.08px !important;
  line-height: 18.38px !important;
}

.map-section .map .map-pic {
  width: 338px;
}
/*# sourceMappingURL=children.css.map */