# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-admin/
/wp-includes/
.vscode-server/
# Configuration
index.php
wp-config.php
wp-content/*
!wp-content/mu-plugins/
wp-content/plugins/
!wp-content/themes/
# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess
/robots.txt

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
primesmile.code-workspace
